@import '../../App.scss';

.home {
  background-color: var(--main-color);
  color: white;
  overflow: hidden;
  height: 100%;
  
  .content-mylist{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .list {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}

.pages {
  gap: 31px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 27px;
  margin: 32px;
  .page {
    width: 19px;
    background-color: rgb(64 64 64 / 59%);
    border-radius: 6px;
    box-shadow: 1px 10px 10px;
  }
}

.content {
  width: 200px;
  margin: 5px;
  height: 300px;
  object-fit: fill;
  @include mobile {
    align-items: center;
    height: 200px;
    width: 100px;
  }
}
